
<h1>about</h1>
<li>scheduler schedules your computer science degree</li>
<li>currently only for Concordia</li>
<li>use this to quickly build a schedule</li>
<b> <li>you should still consult myConcordia</li> </b>

<br>

<h1>plan</h1>
<li>include other institutions</li>
<li>compare requirements from different schools</li>
<li>help anyone interested in computer science follow their preferred schools cirriculum</li>

<br>

<h1>design</h1>
<li>minimal UI</li>
<li>persist</li>
<li>remove registering</li>
<li>load through firestore</li>
<li>open source</li>
<li>dark mode</li>
<li>responsive</li>
<li>I've tried to make the code minimal but if you have trouble after forking, @chapei</li>

<br>

<button color="primary" mat-raised-button
(click)="goToUrl(
  'https://github.com/chapeI/soe/blob/main/src/app/scheduler/scheduler.component.ts'
  )">view code</button>
<button color="primary" mat-raised-button
style="margin-left: 20px;"
(click)="goToUrl('
  https://github.com/chapeI/soe/edit/main/src/assets/cs.json')"
>add missing courses</button>
