Build a scheduler with the following aims

<ul>
  <li>understandable code</li>
    <ul>
      <li>good naming conventions</li>
      <li>refactor into functions</li>
    </ul>
  <li><b>simple</b> UI</li>
    <ul>
      <li>no course codes</li>
      <li>no weights (ie. 2 courses from math to complete this requirement)</li>
      <li>simplified requirement headings</li>
    </ul>
  <li>maintained by</li>
    <ul>
      <li>open source</li>
      <li>simple json structure</li>
    </ul>
  <li>firestore docs</li>
  <li>persistence</li>
  <li>responsive</li>
  <li>dark mode</li>
</ul>

<div>
  <button color="accent" class="m" mat-raised-button
  (click)="goToUrl(
    'https://github.com/chapeI/soe/blob/main/src/app/scheduler/scheduler.component.ts'
    )">view code</button>
  <button color="accent" class="m" mat-raised-button
  (click)="goToUrl('
   https://github.com/chapeI/soe/edit/main/src/assets/cs.json')"
  >add missing courses</button>
  <button color="accent" class="m" mat-raised-button
  (click)="goToUrl('https://soehub.com')"
  >visit soehub (previous scheduler)</button>
  <button color="accent" class="m" mat-raised-button>contact</button>
</div>
