
  the purpose of this web app is to build a scheduler
  for the <b>simplest</b> understanding of what a degree entails
  scheduler keeps the important stuff from soehub
  <ul>
    <li>good code</li>
    <ul>
      <li>good naming convention</li>
      <li>break everything into functions</li>
    </ul>
    <li><b>simple</b> UI</li>
    <ul>
      <li>no course codes</li>
      <li>no weights (ie. 2 courses from math to complete this requirement)</li>
      <li>simple requirement headings</li>
    </ul>
    <li>maintain by open source</li>
    <ul>
      <li>json file provides data</li>
      <li>keep json structure simple</li>
      <li>pull request to add missing courses</li>
      <li>firestore document updates courses</li>
    </ul>
    <li>persist data</li>
    <li>dark mode</li>
    <li>look decent in mobile</li>
    <li>responsive design to screen changes</li>
  </ul>

<div class="r" style="">
  <button mat-raised-button>view code</button>
  <button mat-raised-button>add missing courses</button>
  <button mat-raised-button>contact</button>
</div>

<br>
<h3>soehub.com <em>(previous version)</em></h3>
  <ul>
    <li>contributors
      <ul>
        <li>Jeff</li>
        <li>Anthony</li>
        <li>Me (Anthony)</li>
        <li>Chavind</li>
      </ul>
    </li>
    <li>progress</li>
    <li>colored courses</li>
    <li>adding terms</li>
  </ul>

  <button mat-raised-button>visit soehub</button>
