I graduated w a cs degree.
<br>
I want to build something that i hope ends up being helpful and showcase some code
<br>
<br>
<button mat-raised-button>view the code here</button>
<br>
<br>
this was a project i started in second year during my software engg internship
<br>
it started off as
<br>
<br>
<br>
<br>
then Jeff, Anthony, Chavind and I built soehub. check it out
<br>
an account was needed to save data, I think that put off a lot of folks
<br>

in this version, i scrapped registration
but i managed to persist the data
i wanted simplicity in mind, and the design to make sense
revisiting my past code, my naming convention was bad
improve naming

also dark mode, look good in mobile

no course codes, plain english, what the degree entails
its not for concordia students anymore, but for anyone that is wondering what
a degree generally looks like
I built a webapp this for anyone that wants to compare degrees
from various institutions (concordia, waterloo, mcGill, uoft)

<br>
<br>

i hope there will be pull requests to maintain the db
<br>

in assets, there are json files for the institutions.
I think they are as simple as possible
<br>
<br>

<button mat-raised-button>add missing courses</button>
<br>
<br>
<button mat-raised-button>contact me</button>
