<div cdkDropListGroup>

<div class="" style="float: right">

    <button mat-raised-button [matMenuTriggerFor]="school">Concordia Computer Science</button>
    <mat-menu #school="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="concordia">Concordia</button>
      <button mat-menu-item [matMenuTriggerFor]="mcGill">McGill</button>
      <button mat-menu-item [matMenuTriggerFor]="waterloo">Waterloo</button>
    </mat-menu>

    <mat-menu #concordia="matMenu">
      <button mat-menu-item disabled>Software Engineering</button>
      <button mat-menu-item>Computer Science</button>
    </mat-menu>

    <mat-menu #mcGill="matMenu">
      <button mat-menu-item disabled>Software Engineering</button>
      <button mat-menu-item disabled>Applied Math</button>
      <button mat-menu-item disabled>Computer Science</button>
    </mat-menu>

    <mat-menu #waterloo="matMenu">
      <button mat-menu-item disabled>Software Engineering</button>
      <button mat-menu-item disabled>Computer Science</button>
    </mat-menu>

  <button [disabled]="noLocalData()" mat-raised-button (click)="reset()">
    <mat-icon>refresh</mat-icon>
  </button>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let r of reqs">
      <mat-expansion-panel-header>
        <mat-panel-title
        [ngStyle]= "{
          'text-decoration': data[r].size - data[r].courses.length >= data[r].required ? 'line-through' : null,
          'color': data[r].color
          }">
          {{ r }}
        </mat-panel-title>
        <mat-panel-description>
          {{data[r].size - data[r].courses.length}}/{{data[r].required}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div
      class="dragdrop-list"
      cdkDropList
      [cdkDropListData]="data[r].courses"
      (cdkDropListDropped)="drop($event)">
      <div
      [ngStyle]="{'color': c.color}"
      cdkDrag
      *ngFor="let c of data[r].courses">
        {{ c.name }}
      </div>
    </div>
    </mat-expansion-panel>
  </mat-accordion>

  <button disabled="true" mat-raised-button (click)="remove()">
    <mat-icon>remove</mat-icon>
  </button>
  <button color="accent" mat-raised-button (click)="add()">
    <mat-icon>add</mat-icon>
  </button>
  <button disabled mat-raised-button (click)="openSettingsDialog()">
    <mat-icon>settings</mat-icon>
  </button>
</div>

  <div
  style="display: flex">
    <div
    class="terms"
    style="width: 150px;"
    *ngFor="let t of trms, index as i">
      <b>term {{i + 1}} </b>
      <div
      class="dragdrop-list"
      cdkDropList
      [cdkDropListData]="t.courses"
      (cdkDropListDropped)="drop($event)">
        <div
        [ngStyle]="{'color': c.color}"
        cdkDrag
        *ngFor="let c of t.courses, index as j">
          {{ c.name }}
        </div>
      </div>
    </div>
  </div>

</div>


