@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$green-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);

$my-primary2: mat.define-palette(mat.$blue-palette, 500);
$my-accent2: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$my-dark-theme: mat.define-dark-theme((
  color: (
     primary: $my-primary2,
     accent: $my-accent2,
  )
));

.darkMode {
  @include mat.all-component-themes($my-dark-theme);
}
